body{font-family:'微软雅黑';margin:0 auto;min-width:980px;}
ul{display:block;margin:0;padding:0;list-style:none;}
li{display:block;margin:0;padding:0;list-style: none;}
img{border:0;}
dl,dt,dd,span{margin:0;padding:0;display:block;}
a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#00a4ac;text-decoration:none;}
table{border-collapse:collapse;border-spacing: 0;}
cite{font-style:normal;}
h2{font-weight:normal;}

.table {
table-layout:fixed;
}

/* 表格格式 */
.toolbar{float:left;}
.toolbar li{background:url(../images/toolbg.gif) repeat-x; line-height:33px; height:33px; border:solid 1px #d3dbde; float:left; padding-right:10px; margin-right:5px;border-radius: 3px; behavior:url(js/pie.htc); cursor:pointer;}
.toolbar li span{float:left; margin-left:10px; margin-right:5px; margin-top:0px;}
.tablelist{border:solid 1px #cbcbcb; width:100%; clear:both}
.tablelist th{background:url(../images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:left;font-size: 10px;}
.tablelist td{line-height:35px; text-indent:11px; border-right: dotted 1px #c7c7c7;font-size: 8px;}
.tablelink{color:#056dae;}
.tablelist tbody tr.odd{background:#f5f8fa;}
.tablelist tbody tr:hover{background:#e5ebee;}
.rightinfo{padding:2px;}

/*page*/
.pagin{
	position: absolute;
  	width:100%;
  	bottom: 80px;
	}
.pagin .blue{color:#056dae;font-style:normal;}
.pagin .paginList{position:absolute;right:12px;top:0;}
.pagin .paginList .paginItem{float:left;}
.pagin .paginList .paginItem a{float:left;width:31px;height:28px;border:1px solid #DDD; text-align:center;line-height:30px;border-left:none;color:#3399d5;}
.pagin .paginList .paginItem:first-child a{border-left:1px solid #DDD;}
.pagin .paginList .paginItem:first-child a{border-bottom-left-radius:5px;border-top-left-radius:5px;}
.pagin .paginList .paginItem:last-child a{border-bottom-right-radius:5px;border-top-right-radius:5px;}
.pagin .paginList .paginItem.current,.pagin .paginList .paginItem.current a{background:#f5f5f5; cursor:default;color:#737373;}
.pagin .paginList .paginItem:hover{background:#f5f5f5;}
.pagin .paginList .paginItem.more,.pagin .paginList .paginItem.more a:hover{ cursor:default;}
.pagin .paginList .paginItem.more:hover{background:#FFF;}
.pagin .paginList .paginItem.more a{color:#737373;}
.pagepre{background:url(../images/pre.gif) no-repeat center center; width:31px; height:28px;}
.pagenxt{background:url(../images/next.gif) no-repeat center center; width:31px; height:28px;}


/* 输入框格式 */
.input_from{
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding-left:2px;
    height: 30px;
    width: 200px;
}
.input_from:focus{
    border:1px solid rgb(55, 182, 238);;
    box-shadow: 0 0 2px rgb(33, 162, 238);
    -webkit-box-shadow: 0 0 2px rgb(33, 162, 238);
    -moz-box-shadow: 0 0 2px rgb(33, 162, 238);
}

.laber_from{
    width: 100px;
    float: left;
    line-height: 35px;
    color: #222;
    font-weight: normal;
}

.search{
	padding-top: 5px;
}
.control-group{
    padding-bottom: 5px;
}

#button_logo{
	border-style:none;
	padding:8px 10px;
	line-height:24px;
	width: 120px;
	height: 32px;
	color:#fff;
	font:12px "Microsoft YaHei", Verdana, Geneva, sans-serif;
	cursor:pointer;
	border:1px #444 solid;
	-webkit-box-shadow:inset 0px 0px 1px #fff;
	-moz-box-shadow:inset 0px 0px 1px #fff;
	box-shadow:inset 0px 0px 1px #fff;/*内发光效果*/
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;/*边框圆角*/
	text-shadow:1px 1px 0px #444;/*字体阴影效果*/
	background-color:#444;
	float: left;
}

